<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="external.css">
</head>
<style>

</style>

<body bgcolor="green">
    <h1 class="bd">heading</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea pariatur reiciendis nulla? Ratione corporis nostrum, similique deleniti eligendi aliquid cupiditate veniam! Quia incidunt itaque rerum hic asperiores, assumenda quibusdam quis.</p>
    <p id="align">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae at corrupti recusandae voluptates minima quas! Aliquid magnam inventore est ex in. Tenetur ad libero fugiat pariatur quasi, autem repellat voluptatem!</p>
    <ol>
        <li>one</li>
        <li style="color: red;font-size: 20px;">two</li>
        <li>3</li>
    </ol>
    <div align-center=20px>
        <button class="og">click</button>
        <button class="gd">click</button>
    </div>>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, deleniti est provident facere eaque consectetur beatae possimus. Eligendi mollitia atque esse impedit tenetur illum dignissimos tempore, aliquam quia et molestiae!</p>
</body>

</html>