{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>

<body>
    <div class="login-box">
        <h1>login</h1>
        <div class="textbox">
            <input type="text" placeholder="user name" value="">
        </div>
        <div class="textbox">
            <input type="password" id="contact" required placeholder="password">
        </div>
        <div class="textbox">
            <input type="forgot password" placeholder="forgot password" id="contact" required>
        </div>
        <div class="button">
            <input type="button" value="submit">
        </div>
    </div>
    <iframe width="250" height="150" src="https://www.youtube.com/embed/FYSmHjN-894" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <img src="%static 'th.jpg' %" alt="">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d250436.87930399252!2d75.67072557326105!3d11.255801965047452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba65938563d4747%3A0x32150641ca32ecab!2sKozhikode%2C%20Kerala!5e0!3m2!1sen!2sin!4v1614834230212!5m2!1sen!2sin"
        width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

</body>

</html>